[Unit]
Description=Lila_bot
After=multi-user.target

[Service]
type=simple
ExecStart=/home/pi/Projects/card-game-lila-bot/venv/bin/python /home/pi/Projects/card-game-lila-bot/app/main.py
WorkingDirectory=/home/pi/Projects/card-game-lila-bot/
Restart=always

[Install]
WantedBy=multi-user.target